<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="a1" class="entities.Address">
        <constructor-arg value="HCMcity"/>
        <constructor-arg value="HCM"/>
        <constructor-arg value="VietNam"/>
    </bean>

    <bean id="e" class="entities.Employee">
        <constructor-arg value="12" type="int"/>
        <constructor-arg value="Van"/>
        <constructor-arg ref="a1"/>
    </bean>
</beans>